.test_1 {
    background-color: red;
}
.test_2 {
    background-color: blue;
}
.test_3 {
    background-color: green;
}
.test_4 {
    background-color: yellow;
}

.home_container{
    width: 88%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 5px;
}

.home_slider{
    border-radius: 5px;
    width: 88;
    height: 100%;
}

/* @media screen and (min-width: 1025px) and (max-width: 1200px){
    .home_container{
      width: 82dvw;
      height: 100%;
      position: absolute;
      right: 0;
    }
} */