    .home_container {
        max-width: 88%;
        max-height: 100%;
        position: absolute;
        top: 0px;
        right: 0px;
        overflow: hidden;
        padding: 10px;
    }

    .home_slider {
        border-radius: 5px;
        height: 100%;
        display: flex;
    }

    .slide_text_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 60px;
    }

    .slide_text_descriptif {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .slick-dots {
        position: absolute;
        top: 90dvh;
        right: 10px;
        z-index: 1;
    }

    .slick-dots li button {
        background-color: #AE9D7C;
        border-radius: 100px;
        width: 10px;
        height: 10px;
        font-size: 0px;
    }

    .slick-dots li.slick-active button {
        background-color: white;
        font-size: 0px;
    }

    .slide_container {
        border-radius: 5px;
        height: 100%;
        min-height: 98dvh;
        display: flex !important;
        justify-content: space-around;
        gap: 50px;
    }

    .slide_title {
        font-size: 48px;
        font-family: "Righteous", sans-serif;
        width: fit-content;
        padding: 5px 15px
    }

    .slide_text {
        font-size: 24px;
        font-family: "Righteous", sans-serif;
        width: fit-content;
        padding: 0px 10px;
    }

    /* * First Slide */

    .slide_container_1 {
        background-color: #264D76;
    }

    .slide_title_1,
    .slide_text_1 {
        background-color: #80AFD9;
    }

    .slide_image_1 {
        width: 44%
    }

    .slide_image_desktop {
        display: block;
    }

    .slide_image_mobile {
        display: none !important;
    }

    .slide_button_1 {
        background-color: #E76E25;
        width: fit-content;
        font-size: 24px;
        font-family: "Righteous", sans-serif;
        padding: 5px;
        border-radius: 5px;
        text-decoration: none;
        color: black;
        margin-top: 70px;
    }

    .slide_button_1:hover {
        background-color: #E5B223;
        color: black;
    }

    /* * Seconde Slide */

    .slide_container_2 {
        background-color: #ddc5c5;
    }

    .slide_title_2,
    .slide_text_2 {
        background-color: #DC4D51;
    }

    .slide_image_2 {
        width: 44%
    }

    .slide_container_3 {
        background-color: green;
    }

    .slide_container_4 {
        background-color: yellow;
    }

    @media screen and (min-width: 1280px) and (max-width: 1439px) {
        .slide_title {
            font-size: 45px;
            font-family: "Righteous", sans-serif;
            width: fit-content;
            padding: 5px 15px
        }

        .slide_text {
            font-size: 22px;
            font-family: "Righteous", sans-serif;
            width: fit-content;
            padding: 0px 10px;
        }

        .slide_image_2 {
            height: 50%;
            margin-top: 10dvh;
        }

        .slide_text_container {
            padding-left: 10px;
        }
    }

    @media screen and (min-width: 992px) and (max-width: 1279px) {
        .home_container {
            max-width: 82%;
        }

        .slide_title {
            font-size: 40px;
            font-family: "Righteous", sans-serif;
            width: fit-content;
            padding: 5px 15px
        }

        .slide_text {
            font-size: 18px;
            font-family: "Righteous", sans-serif;
            width: fit-content;
            padding: 0px 10px;
        }

        .slide_image_1 {
            width: 40%;
            height: 70%;
            margin-top: 15dvh;
        }

        .slide_image_2 {
            height: 50%;
            margin-top: 18dvh;
        }

        .slide_text_container {
            padding-left: 10px;
        }
    }

    @media screen and (min-width: 768px) and (max-width : 991px) {
        .home_container {
            max-width: 100%;
            max-height: 89dvh;
            top: 10dvh;
        }

        .slide_container {
            min-height: 88dvh;
            flex-direction: column;
            align-items: center;
            gap: 1px;
        }

        .slide_image_desktop {
            display: none !important;
        }

        .slide_image_mobile {
            display: block !important;
        }

        .slide_text_container {
            gap: 20px;
        }

        .slide_image_1 {
            width: 80%;
        }

        .slide_button_1 {
            margin-top: 20px;
        }

        .slick-dots {
            position: absolute;
            top: 80dvh;
            right: 0px;
            z-index: 1;
        }
    }

    @media screen and (min-width: 321px) and (max-width : 767px) and (orientation: portrait) {
        .home_container {
            max-width: 100%;
            max-height: 84dvh;
            top: 15dvh;
        }

        .slide_container {
            min-height: 82dvh;
            flex-direction: column;
            align-items: center;
            gap: 0px;
        }

        .slide_image_desktop {
            display: none !important;
        }

        .slide_image_mobile {
            display: block !important;
        }

        .slide_text_container {
            gap: 20px;
        }

        .slide_title {
            font-size: 25px;

        }

        .slide_text {
            font-size: 12px;

        }

        .slide_image_1 {
            width: 90%;
        }

        .slide_image_2 {
            height: 80%;
            width: 60%;
        }

        .slide_button_1 {
            margin-top: 15px;
        }

        .slick-dots {
            position: absolute;
            top: 78dvh;
            right: 0px;
            z-index: 1;
        }
    }

    @media screen and (max-width: 320px) {
        .home_container {
            max-width: 100%;
            max-height: 78dvh;
            top: 20dvh;
        }

        .slide_container {
            min-height: 76dvh;
            flex-direction: column;
            align-items: center;
            gap: 0px;
        }

        .slide_image_desktop {
            display: none !important;
        }

        .slide_image_mobile {
            display: block !important;
        }

        .slide_text_container {
            gap: 20px;
        }

        .slide_title {
            font-size: 20px;

        }

        .slide_text {
            font-size: 11px;

        }

        .slide_image_1 {
            width: 70%;
        }

        .slide_image_2 {
            height: 80%;
            width: 40%;
        }

        .slide_button_1 {
            margin-top: 0px;
            font-size: 11px;
        }

        .slick-dots {
            position: absolute;
            top: 78dvh;
            right: 0px;
            z-index: 1;
        }
        
        .slide_text_container {
            gap: 10px;
            padding: 5px;
        }
    }