@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.shop_frame {
  overflow: auto;
}

.ticketing_title {
  text-align: center;
  font-size: 30px;
  font-family: "Righteous", sans-serif;
  background-color: #AE9D7C;
  border: solid 10px white;
}

@media screen and (min-width: 992px) and (max-width: 1024px){
  .ticketing_container{
    width: 82dvw;
    position: absolute;
    right: 0;
  }
  
  .ticketing_title{
    width: 82dvw;
    position: fixed;
    z-index: 1;
    border: solid 10px white;
  }

  .ticketing_reservation {
    width: 100%;
    position: absolute;
    top: 20px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px){
  .ticketing_container{
    width: 82dvw;
    position: absolute;
    right: 0;
  }
  
  .ticketing_title{
    width: 82dvw;
    position: fixed;
    z-index: 1;
    border: solid 10px white;
  }

  .ticketing_reservation {
    width: 100%;
    position: absolute;
    top: 20px;
  }
}

@media screen and (min-width: 1201px) {
  .ticketing_container {
    width: 88dvw;
    position: absolute;
    right: 0;

  }

  .ticketing_title {
    width: 88%;
    position: fixed;
    right: -1.5px;
    z-index: 1;
    border: solid 10px white;
  }

  .ticketing_reservation {
    width: 100%;
    position: absolute;
    top: 20px;
    overflow: auto;
  }

  section#shop {
    /* overflow-y: scroll; */
    height: 780px;
  }
}