@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@import './css/global.css';

/* * Global CSS */

* {
    box-sizing: border-box;
    margin: 0;
}


@media screen and (min-width: 992px) {
    .view_screen {
        display: flex;
    }
    .view_screen_navbar{
        position: fixed;
        z-index: 1000;
    }
}

/* * Scrollbar style */

::-webkit-scrollbar {
    width: 8px;
    z-index: 1;
  }
  
  ::-webkit-scrollbar-track {
    background: none;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
